.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    width: 400px;
    border: 2px solid #284350;
    border-radius: 5px;

    .auth-title {
      color: #284350;
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 30px;
    }

    .auth-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;

      label {
        color: #546e7a;
        font-weight: 600;
        margin-bottom: 10px;
      }

      input {
        margin-bottom: 20px;
        line-height: 40px;
        padding: 0 5px;
        border-radius: 5px;
        border: 1px solid #546e7a;
        font-size: large;
        color: #284350;

        &:focus {
          outline: none !important;
          border: 2px solid #546e7a;
          border-radius: 5px;
        }
      }
    }

    .auth-button {
      font-weight: 500;
      border: 2px solid #284350;
      border-radius: 50px;
      padding: 10px 30px;
      cursor: pointer;

      &:hover {
        color: whitesmoke;
        background-color: #284350;
      }
    }

    .auth-nav {
      margin-top: 30px;
      color: #284350;
      font-weight: 500;

      span {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
