.app-layout {
  @media screen and (min-width: 1280px) {
    display: flex;
  }

  app-sidebar {
    width: 240px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 1280px) {
      width: calc(100% - 240px);
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 40px;

    app-user-capsule {
      margin: 20px 0 20px 20px;
    }
  }
}
