.app-navbar {
  display: flex;
  background-color: #b0bec5;
  justify-content: space-between;
  padding: 15px 20px;

  &-menu {
    cursor: pointer;

    span {
      width: 25px;
      height: 4px;
      display: block;
      background-color: #37474f;
      margin: 4px 0px;
      border-radius: 10px;
    }

  }
}
