.sidebar {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid lightgrey;

  &-image {
    padding: 20px;
    width: 150px;
    height: 150px;
    cursor: pointer;
  }

  &-content {
    margin-top: 50px;

    &-item:not(:first-child) {
      margin-top: 50px;
    }

    &-list {

      &-item {
        font-weight: 600;
        border: 1px solid #284350;
        border-radius: 50px;
        padding: 8px 20px;
        margin-bottom: 15px;
        background-color: #284350;
        color: whitesmoke;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        width: 150px;
        text-align: center;

        &:hover {
          background-color: white;
          color: #284350;
          transform: translateY(-3px);
        }
      }
    }

    &-item {
      &-title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: #284350
      }

      &:first-child {
        .sidebar-content-item-categories-item-icon {
          width: 25px;
          height: 25px;
        }
      }

      &-categories {
        color: #546e7a;
        font-weight: 600;

        &-item {
          border: 1px solid transparent;
          border-radius: 30px;
          cursor: pointer;
          display: flex;
          align-items: center;
          margin: 15px 0;
          padding: 5px 15px;
          width: 150px;

          &:hover {
            border-color: #546e7a;
          }

          &-icon {
            margin-right: 6px;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }


}
