.homepage {
  display: flex;

  &-container {
    margin: 40px;
  }

  &-header {
    color: #284350;
    div {
      font-weight: 200;
      font-size: 30px;
    }
    span {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.8;
    }
  }

  &-movies-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    app-movie-card {
      flex: 0 0 20%;
    }
  }
}
