.homepage {

  &-container {
    margin: 20px 40px;
  }

  &-header {
    color: #284350;
    div {
      font-weight: 200;
      font-size: 30px;
      line-height: 1;
      letter-spacing: -0.5px;
    }
    span {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.8;
    }
  }

  &-movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 40px;
    row-gap: 40px;
    column-gap: 30px;
  }

  &-footer {
    display: flex;
    margin-top: 20px;

    &-button {
      padding: 10px 30px;
      color: white;
      border: 1px solid #284350;
      background-color: #284350;
      cursor: pointer;
      border-radius: 50px;
      transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

      &:hover {
        color: #284350;
        background-color: white;
      }
    }
  }
}
