.homepage {

  &-container {
    margin: 20px 40px;
  }

  &-header {
    color: #284350;
    div {
      font-weight: 200;
      font-size: 30px;
      line-height: 1;
      letter-spacing: -0.5px;
    }
    span {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.8;
    }
  }

  &-movies-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    min-width: calc(100vw - 300px);

    app-movie-card {
      flex: 0 0 20%;
    }
  }
}
