<app-layout [sections]="sections" (categoryClicked)="onCategoryClicked($event)" xmlns="http://www.w3.org/1999/html">
  <div class="movie-details" *ngIf="movie">
    <div class="movie-details-info">
      <div class="movie-details-info-image">
        <img [src]="'https://image.tmdb.org/t/p/w780/' + movie.poster_path" alt="movie image">
      </div>
      <div class="movie-details-info-description">
        <div class="movie-details-info-description-title">{{ movie.title }}</div>
        <div class="movie-details-info-description-tagline">{{ movie.tagline }}</div>
        <div class="movie-details-info-description-others">
          <div class="movie-details-info-description-others-rate">
            <ng-container *ngFor="let number of [1, 2, 3, 4, 5]">
              <img *ngIf="number <= movie.vote_average/2; else whiteStar" src="/assets/icons/yellow-star.svg">
              <ng-template #whiteStar>
                <img src="/assets/icons/white-star.svg">
              </ng-template>
            </ng-container>
            <div class="movie-details-info-description-others-rate-number">{{ movie.vote_average }}</div>
          </div>
          <div class="movie-details-info-description-others-details">
            <div
              class="movie-details-info-description-others-details-language">{{ movie.original_language | uppercase }} /
            </div>
            <div class="movie-details-info-description-others-details-time">{{ movie.runtime }} mins. /</div>
            <div
              class="movie-details-info-description-others-details-year">{{ movie.release_date.substring(0, 4)}}</div>
          </div>
        </div>
        <div class="movie-details-info-description-genres">
          <div class="movie-details-info-description-genres-title">{{ 'genres' | uppercase }}</div>
          <div class="movie-details-info-description-genres-content">
            <div class="movie-details-info-description-genres-content-item" *ngFor="let genre of movie.genres"
                 (click)="onGenreClicked(genre.name)">
              <img src="/assets/icons/donut-icon.svg" alt="icon"
                   class="movie-details-info-description-genres-content-item-icon">
              <div class="movie-details-info-description-genres-content-item-content">{{ genre.name | uppercase }}</div>
            </div>
          </div>
        </div>
        <div class="movie-details-info-description-synopsis">
          <div class="movie-details-info-description-synopsis-title">{{ 'synopsis' | uppercase }}</div>
          <div class="movie-details-info-description-synopsis-content">{{ movie.overview }}</div>
        </div>
        <div class="movie-details-info-description-cast">
          <div class="movie-details-info-description-cast-title">{{ 'cast' | uppercase }}</div>
          <div class="movie-details-info-description-cast-content">
            <div class="movie-details-info-description-cast-content-name" *ngFor="let cast of casts ">{{ cast.name }}
              /
            </div>
          </div>
        </div>
        <div class="movie-details-info-description-buttons">
          <a class="movie-details-info-description-buttons-button" target="_blank" [href]="movie.homepage"><span>Website</span><img src="assets/icons/link.svg"></a>
          <a class="movie-details-info-description-buttons-button"  target="_blank" [href]="'https://www.imdb.com/title/' + movie.imdb_id"><span>IMDB</span><img
            src="assets/icons/imdb.svg"></a>
          <a class="movie-details-info-description-buttons-button"  target="_blank" [href]="'https://www.youtube.com/watch?v=' + movie.videos.results[0].key"><span>Trailer</span><img src="assets/icons/play.svg"></a>
        </div>
      </div>
    </div>
    <div class="movie-details-recommendation">
      <div class="movie-details-recommendation-title">
        <div>{{ 'recommended' | uppercase }}</div>
        <span>MOVIES</span>
      </div>
      <div class="movie-details-recommendation-list">
        <app-movie-card [movie]="movie" *ngFor="let movie of recommendations"></app-movie-card>
      </div>
    </div>
  </div>
</app-layout>
